@charset "UTF-8";
body {
	background-color:#BBBBBB;
	color: #2F2F2F;
}

#top {
	word-spacing: .2em;
	text-shadow:.6px .6px #FFF992;
	background-color:#5F81F5;
	background-size:50px 70%;
	box-shadow: 2px 2px #FFF992;
	text-indent:21%;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:5px;
	font-family: 'Montserrat', sans-serif;
	font-size:49px;
	margin-bottom:.45em;
	color:#2F2F2F;
	min-width:700px;
	}
	
.all {
	margin-left:20%;
	margin-right:20%;
	background-color:#BBBBBB;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	min-width:400px;
}

nav ul {
	list-style-type:none;
}

nav {
	background-color:#2F2F2F;
	padding-left:0%;
	padding-bottom:5px;
	padding-right:5px;
	height:17px;
	width:58%;
	margin-left:21%;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	min-width:400px;
}

div {
	padding-left:15px;
	padding-right:15px;
}

.manifestolink {
	float:left;
	padding-right:8%
	
}

.joinlink {
	float:left;
	
}

.originslink {
	float:left;
	padding-right:8%
	
}

article {
	margin-top:40px;
}

#web {
	font-family:'Montserrat', sans-serif;
	font-size:20px;
}

h2 {
	font-family:'Montserrat', sans-serif;
}

.sub {
	font-family: 'Montserat', sans-serif;
	font-size:16px;
	padding-top:20px;
}

p, blockquote, dd {
	line-height:1.75em;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	height:250px;
	width:400px;
	padding-top:15px;
	padding-bottom:15px
}

h3 {
	font-family:'Montserrat', sans-serif;
	font-size:18px;
}

a:link {
    color: white;
}

a:visited {
    color: #5F81F5;
}

a:hover {
    color: #FFF992;
}

a:active {
    color: #989898;
}

.backto {
	padding-left:45%
}