@charset "UTF-8";
body {
	background-color:#E4E4E4;
}

#top {
	word-spacing: .2em;
	text-shadow:1.5px 1.5px #EFF18D;
	background-color:#C6AF83;
	background-size:50px 70%;
	text-indent:21%;
	padding-left:15px;
	padding-right:15px;
	font-family: 'Montserrat', sans-serif;
	font-size:50px;
	margin-bottom:.45em;
	color:#2F2F2F}
	
.all {
	margin-left:20%;
	margin-right:20%;
	background-color:#E4E4E4;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

nav ul {
	list-style-type:none;
}

nav {
	background-color:#EFF18D;
	padding-left:0%;
	padding-bottom:5px;
	padding-right:5px;
	height:15px;
	width:58%;
	margin-left:21%;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

div {
	padding-left:15px;
	padding-right:15px;
}

.manifestolink {
	float:left;
	padding-right:5%
	
}

.joinlink {
	float:left;
	
}

.originslink {
	float:left;
	padding-right:5%
	
}

article {
	margin-top:40px;
}

#web {
	font-family:'Montserrat', sans-serif;
	font-size:20px;
}

h2 {
	font-family:'Montserrat', sans-serif;
}

.sub {
	font-family: 'Montserat', sans-serif;
	font-size:16px;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	height:250px;
	width:400px;
	padding-top:15px;
	padding-bottom:15px
}

.backto {
	padding-left:45%
}